/*Question: if you want to put a diferent size of text and color in one 
paragraph of line, how can i do it?*/
/*Global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: rgb(208, 208, 208);
}

/*utilities*/
.btn{
    display: inline-block;
    background-color: rgb(217, 255, 0);
    padding: 6px; /* padding is for more "boton" space*/
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
}
a{
    flex-direction: row;
    color:aliceblue;
    text-decoration: none;
    margin-left: 14px;
    margin-right: 14px;
}
/*header*/
.header-flex{
    justify-content: space-between;
}
header{
    background-color: black;
    height: auto;
}
.header-title{
    color: white;
    margin-left: 10px;
    align-items: start;
    padding-top: 15px;
}
span{
    color: crimson;
    font-size: 18px;
}
.header-footer{
    display: flex;
    flex-direction: row;
    margin-top: 1px;
}
.header-menu{
    align-self: end;
    background-color: black;
    width: 100%;
    height: 25px;
}
img{
    min-width: 100%;
}

/*main*/
.large-txt{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 2vh;
}
.secondary-txt{
    font-family: 14px;
    color: gray;
    text-align: center;
    margin-bottom: 2vh;

}

footer{
    color: crimson;
    background: black;
    align-content: flex-end;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    height: 35px;
}
